body{

}
/*position*/
.form{
    width: 60%;
    height: 50%;
    margin-top: 40px;

}
/*flex*/
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
/*backgroud*/
body{
    background-color: rgb(235, 252, 246);
}
.form{
    background-color: rgb(156, 208, 253);
    border-radius: 15px;
}
/*btn*/
#idest,#ivl {
    padding: 4px 10px;
    border-radius: 10px;
}
/*btn soumetre et reinitiliser*/
/*date*/
input[type="date"] {
    padding: 4px 10px;
    background: none;
    border: none;
    border-bottom: 1px solid white;
}
