body{

}
h1 {
    text-align: center;
}
/*position*/
.form{
    width: 60%;
    height: 50%;
    margin-top: 40px
}
.form>fieldset{
    margin-bottom: 50px;
}
/*flex*/
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-width: 394px;
}
/*backgroud*/
body{
    background-color: rgb(235, 252, 246);
}
.form{
    background-color: rgba(156, 208, 253, 0.342);
    border-radius: 15px;
}
/*btn*/
#idest,#ivl {
    padding: 4px 10px;
    border-radius: 10px;
}
/*btn soumetre et reinitiliser*/
/*date*/
input[type="date"] {
    padding: 4px 10px;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
}
.input_donnees{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    font-size: 15px;
    letter-spacing: 2px;
    width: 100%;
}
/*animation label*/
.animation_label{
    position: absolute;
    transition: .5s;
   
}
.input_donnees{
    margin-top: -20px;
}
.label-ativa {
    margin-top: -20px;
    font-size: 0.4em; /* Ajuste o tamanho da fonte conforme necessário */
  }