body{
    color:;
}
/*position*/
.form{
    width: 60%;
    height: 50%;

}
/*flex*/
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
