/* haut de page*/

header {
  padding: 0 12px;
  position: fixed;
  z-index: 999;
  width: 100%;
  background: orange;
  box-sizing: border-box;
  border: 1px solid #fff;
}

main {
  max-width: 100%;
  border: 5px solid hotpink;
}
.header-title {
  line-height: 50px;
  font-size: 22px;
}
ul,
li {
  display: block;
}
li {
  height: 50px;
  line-height: 50px;
  padding: 0 12px;
  border-bottom: 1px solid #777;
  background: #111;
}

#menu-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  overflow: hidden;
  background: #fff;
  color: #000;
  line-height: 50px;
  text-align: center;
  font-size: 40px;
  cursor: pointer;
  transition: all 0.5s;
}

#menu-button::after {
  content: "×";
}
#menu-button.close {
  color: #fff;
  background: #000;
}
#menu-button.close::after {
  content: "≡";
}

#menu {
  transition: transform 0.5s;
  position: absolute;
  width: 100%;
  transform: translateY(-300px);
}
#menu.show-menu {
  transform: translateY(0px);
  position: sticky;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00b4cc;
  border-right: none;
  /* padding: 5px; */
  height: 45px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: red;
  font-size: 16px;
}

.searchTerm:focus {
  color: #00b4cc;
}

.searchButton {
  width: 40px;
  height: 45px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 12px;
}

.wrap {
  width: 30%;
  position: absolute;
  top: 20%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.promotion {
  display: inline-block;
  padding: 15px;
  width: 60%;
  margin-top: 20%;
}

#section2 article {
  display: flex;
  border: solid red 2px;
  flex-direction: column;
  box-sizing: content-box;
  max-height: min-content;
}
.flex {
  border: solid greenyellow 2px;
  display: flex;
  box-sizing: content-box;
  flex-direction: column;
  box-sizing: content-box;
  max-height: min-content;
}
/*@media(min-width:$breack-s;)flex:1*/

.ville-2 {
  grid-area: ville-2;
}

.ville-1 {
  grid-area: ville-1;
}

.ville-3 {
  grid-area: ville-3;
}

.ville-4 {
  grid-area: ville-4;
}

.ville-5 {
  grid-area: ville-5;
}

.ville-6 {
  grid-area: ville-6;
}

/*margin image section2*/
.margin-village-gauche {
  margin: 50px 20px 20px 20px;
}
.margin-village-droite {
  margin: 100px 0px 20px 20px;
}
/*taille des images de la ville*/
.ville-2 {
  grid-area: ville-2;
}

.ville-debout {
  width: 361px;
  height: 361px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.ville-allonge {
  width: 361px;
  height: 361px;
}
.ville-1 {
  background-image: url("./images/wp11717197-world-of-warcraft-dragonflight-wallpapers.jpg");
  object-fit: cover;
  background-size: cover;
}
.ville-2 {
  background-image: url("./images/rivages\ de\ l'éveil.jpg");
  object-fit: cover;
  background-size: cover;
}
.ville-3 {
  background-image: url("./images/travée\ d'azur.jpg");
  object-fit: center;
  background-size: center;
  background-repeat: no-repeat;
}
.ville-4 {
  background-color: rgba(0, 0, 0, 0.582);
}
.ville-5 {
  background-color: rgba(0, 0, 0, 0.582);
}
.ville-6 {
  background-color: rgba(0, 0, 0, 0.582);
}
.up_circuit_ville,
.bottom_circuit_ville {
  display: flex;
  gap: 50px 35px;
  flex-direction: column;
  grid-template-areas:
    ". ville-1 ville-1 ville-1 . ville-3 . ."
    ". ville-2 ville-2 ville-2 . ville-3 . .";
  /* justify-content: center; */
  align-items: center;
  box-sizing: border-box;
}

/*bas de page*/

footer {
  background-image: url(./images/footer.png);
  display: flex;
  flex-direction: column;
  padding: 5px;
  background-position: bottom;
}

.flexf {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  padding: 5px;
}

#flogo {
  padding: 5px;
  margin: auto;
}

.image-container {
  display: flex;
  margin: auto;
}

.image-container img {
  width: 20%;
  height: auto;
}

#ftxt {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto;
  padding: 5px;
}

#ftxt a {
  text-decoration: none;
  color: var(--quote);
}

#ftxt a:hover {
  text-decoration: underline;
}

.restaurant {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
  line-height: 30px;
}

#fuber {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: auto;
  text-align: center;
  padding: 5px;
}

#fuber img {
  width: 5%;
}

.fbutton {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
