/*section 2 responsive*/

#section2 article {
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  max-height: min-content;
}
.flex {
  display: flex;
  box-sizing: content-box;
  flex-direction: column;
  box-sizing: content-box;
  max-height: min-content;
}
/*@media(min-width:$breack-s;)flex:1*/

.ville-2 {
  grid-area: ville-2;
}

.ville-1 {
  grid-area: ville-1;
}

.ville-3 {
  grid-area: ville-3;
}

.ville-4 {
  grid-area: ville-4;
}

.ville-5 {
  grid-area: ville-5;
}

.ville-6 {
  grid-area: ville-6;
}

/*margin image section2*/
.margin-village-gauche {
  margin: 50px 20px 20px 20px;
}
.margin-village-droite {
  margin: 100px 0px 20px 20px;
}
/*taille des images de la ville*/
.ville-2 {
  grid-area: ville-2;
}

.ville-debout {
  width: 450px;
  height: 300px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.ville-allonge {
  width: 450px;
  height: 300px;
}
.ville-1 {
  background-image: url("./images/rivagesb.jpg");
  object-fit: cover;
  background-size: cover;
  border-radius: 15px;
}
.ville-2 {
  background-image: url("./images/wp11717197-world-of-warcraft-dragonflight-wallpapers.jpg");
  object-fit: cover;
  background-size: cover;
  border-radius: 15px;
  background-position: right;
}
.ville-3 {
  background-image: url(./images/traveea.jpg);
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  background-position: center;
}
.ville-4 {
  background-image: url(./images/zaraleka.jpg);
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  background-position: center;
}
.ville-5 {
  background-image: url("./images/emeraudea.png");
  object-fit: cover;
  background-size: cover;
  border-radius: 15px;
}
.ville-6 {
  background-image: url("./images/plainesa.png");
  object-fit: cover;
  background-size: cover;
  border-radius: 15px;
}
.up_circuit_ville,
.bottom_circuit_ville {
  display: flex;
  gap: 35px;
  flex-direction: column;
  grid-template-areas:
    ". ville-1 ville-1 ville-1 . ville-3 . ."
    ". ville-2 ville-2 ville-2 . ville-3 . .";
  /* justify-content: center; */
  align-items: center;
  box-sizing: border-box;
}
/*section 4*/
.aonglets {
  text-align: center;
}

.aonglet {
  cursor: pointer;
  display: inline-block;
  font-size: var(--size2);
}

.aonglet_1 {
  color: var(--accentColor);
}

.contenu_aonglet {
  display: none;
  margin-top: -30px;
}

.contenu_aonglet {
  color: var(--txtColor);
  line-height: 1.2;
  margin: 0;
  padding: 0;
  font-size: 20px;
}
.contenu_aonglet img {
  width: 75%;
  margin: auto;
}

.agency_statut {
  font-family: var(--font2);
  padding: 2%;
  text-align: center;
  font-size: var(--size4);
}

/*section 5*/
.avis {
  text-align: justify;
  display: block;
  left: 0;
  padding: 1em;
}

.avisimg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 0.75rem;
}

#section5 article {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 30px;
}
