#section1 {
  background-image: url(./images/header.png);
  height: calc(100vh);
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}

#section2 {
  background-color: white;
}

#section3 {
  background-color: pink;
}

#section4 {
  background-color: aliceblue;
  height: calc(50vh);
}

#section5 {
  background-color: yellow;
  height: calc(50vh);
}
@media all and (min-width: 1024px) {
  /*flexbox section2*/
  #section2 article {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    max-height: min-content;
  }
  /*grid up*/
  .up_circuit_ville {
    display: grid;
    gap: 50px 35px;
    grid-auto-flow: row;
    grid-template-areas:
      ". ville-1 ville-1 ville-1 . ville-3 . ."
      ". ville-2 ville-2 ville-2 . ville-3 . .";
    justify-content: center;
  }

  .ville-2 {
    grid-area: ville-2;
  }

  .ville-1 {
    grid-area: ville-1;
  }

  .ville-3 {
    grid-area: ville-3;
  }

  /*grid bottom*/
  .bottom_circuit_ville {
    display: grid;
    gap: 0px 40px;
    grid-auto-flow: row;
    grid-template-areas:
      ". ville-4 . ville-5 ville-5 . ."
      ". ville-4 . . . . ."
      ". ville-4 . ville-6 ville-6 . .";
    justify-content: center;
  }

  .ville-4 {
    grid-area: ville-4;
  }

  .ville-5 {
    grid-area: ville-5;
  }

  .ville-6 {
    grid-area: ville-6;
  }

  /*margin image section2*/
  .bottom_circuit_ville {
    margin: 15px;
}
  .up_circuit_ville {
    margin: 15px;
    margin-right: 102px;
}
  /*taille des images de la ville*/
  .ville-2 {
    grid-area: ville-2;
  }

  .ville-debout {
    width: 361px;
    height: 749px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .ville-allonge {
    width: 749px;
    height: 361px;
  }
  .ville-1 {
    background-color: rgba(0, 0, 0, 0.582);
  }
  .ville-2 {
    background-color: rgba(0, 0, 0, 0.582);
  }
  .ville-3 {
    background-color: rgba(0, 0, 0, 0.582);
  }
  .ville-4 {
    background-color: rgba(0, 0, 0, 0.582);
  }
  .ville-5 {
    background-color: rgba(0, 0, 0, 0.582);
  }
  .ville-6 {
    background-color: rgba(0, 0, 0, 0.582);
  }
 
}
/*text align*/

.v-texte-debout{
  text-align: center;
  align-content:center;
}
.v-texte-allonge{
  align-content:end;
}
#section2 .v-texte-allonge h3{
  margin-left: 15px;
}
#section2 .v-texte-allonge p{
  margin-left: 15px;
} 
/*section3*/
.theme button {
  padding-bottom: 320px;
  padding-left: 60px;
  padding-right: 60px;
  margin: 0px 39px;
  margin-bottom: 15px;
  justify-items: center;
}
/*btn background*/ 
.Cuisine{
  background-image: url(/images/cuisine.jpg);
  background-position: center;
  background-size: cover;
}
.Nature{
  background-image: url(/images/cuisine.jpg);
  background-position: center;
  background-size: cover;
}
.Sportif{
  background-image: url(/images/cuisine.jpg);
  background-position: center;
  background-size: cover;
}
.Famillial{
  background-image: url(/images/cuisine.jpg);
  background-position: center;
  background-size: cover;
}
.Artisanat{
  background-image: url(/images/cuisine.jpg);
  background-position: center;
  background-size: cover;
}
.Culture{
  background-image: url(/images/cuisine.jpg);
  background-position: center;
  background-size: cover;
}