/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--background);
  max-width: 100%;
  min-height: 100%;
  font-size: var(--size4);
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
/*CSS reset ne pas toucher au-dessus*/
:root {
  --background: #ededed; /*couleur de fond*/
  --accentColor: red; /*couleur d'accent numéro 1*/
  --accentColor2: green; /*couleur d'accent numéro 2*/
  --txtColor: #383838; /*variable pour la couleur du texte sur les pages*/
  --txtColor2: white; /*variable couleur du texte sur les images*/
  --size1: 3.125em;
  --size2: 2.5em;
  --size3: 1.875em;
  --size4: 1em; /*correspond à 16px pour le font-size*/
}

/*Polices d'écritures

à définir */

/* couleurs & style des textes*/

h1 {
  font-size: var(--size1);
  color: white;
}

h2 {
  font-size: var(--size2);
  color: white;
}

h3 {
  color: white;
  font-size: var(--size3);
}

p {
  font-size: var(--fsize4);
  color: var(--txtColor2);
}

txt {
  color: var(--txtColor);
  font-size: var(--fsize4);
}

/*haut de page commun à toutes les pages*/
/* haut de page*/

header {
  padding: 0 12px;
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: black;
  box-sizing: border-box;
}

.header-title {
  line-height: 50px;
  font-size: 22px;
}
ul,
li {
  display: block;
}
li {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #777;
  color: white;
  background: var(--background2);
}

#menu-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  overflow: hidden;
  background: var(--background2);
  color: white;
  line-height: 50px;
  text-align: center;
  font-size: 40px;
  cursor: pointer;
  transition: all 0.5s;
}

#menu-button::after {
  content: "×";
}
#menu-button.close {
  color: #fff;
  background: var(--background2);
}
#menu-button.close::after {
  content: "≡";
}

#menu {
  transition: transform 0.5s;
  position: absolute;
  width: 100%;
  transform: translateY(-300px);
}
#menu.show-menu {
  transform: translateY(0px);
  position: sticky;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00b4cc;
  border-right: none;
  /* padding: 5px; */
  height: 45px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: red;
  font-size: 16px;
}

.searchTerm:focus {
  color: #00b4cc;
}

.searchButton {
  width: 40px;
  height: 45px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 12px;
}

.wrap {
  width: 50%;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.promotion {
  display: inline-block;
  padding: 15px;
  width: 90%;
  margin-top: 20%;
  text-align: left;
  align-content: center;
}

/*bas de page commun à toutes les pages*/

footer {
  background-image: url(./images/footer.png);
  display: flex;
  flex-direction: column;
  padding: 5px;
  background-position: bottom;
}

#flogo img {
  width: 10%;
  height: 10%;
}

.flexf {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  padding: 5px;
}

#ftxt {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto;
  padding: 5px;
}

#ftxt a {
  text-decoration: none;
  color: var(--quote);
}

#ftxt a:hover {
  text-decoration: underline;
}

.flinks {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
  line-height: 30px;
}

#flogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: auto;
  text-align: center;
  padding: 5px;
}

.fbutton {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*sections communes*/
#section2 {
  background-color: var(--background);
}

#section3 {
  background-color: var(--background);
}

#section4 {
  background-color: var(--background);
}
